.edit-Logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
  }
  
  .edit-Logo input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-Logo button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .edit-Logo button:hover {
    background-color: #218838;
  }
  